ClientServerModelExample/src/META-INF/wsdl/localhost_8080/MyWebService/WebService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice1.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice1.me.org/" name="WebService1">
<wsp:Policy wsu:Id="WebService1PortBinding_MTOM_Policy-WebService1PortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://webservice1.me.org/" schemaLocation="http://localhost:8080/MyWebService/WebService1?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="appendToFile">
<part name="parameters" element="tns:appendToFile"/>
</message>
<message name="appendToFileResponse">
<part name="parameters" element="tns:appendToFileResponse"/>
</message>
<message name="createFile">
<part name="parameters" element="tns:createFile"/>
</message>
<message name="createFileResponse">
<part name="parameters" element="tns:createFileResponse"/>
</message>
<portType name="WebService1">
<operation name="hello">
<input wsam:Action="http://webservice1.me.org/WebService1/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice1.me.org/WebService1/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="appendToFile">
<input wsam:Action="http://webservice1.me.org/WebService1/appendToFileRequest" message="tns:appendToFile"/>
<output wsam:Action="http://webservice1.me.org/WebService1/appendToFileResponse" message="tns:appendToFileResponse"/>
</operation>
<operation name="createFile">
<input wsam:Action="http://webservice1.me.org/WebService1/createFileRequest" message="tns:createFile"/>
<output wsam:Action="http://webservice1.me.org/WebService1/createFileResponse" message="tns:createFileResponse"/>
</operation>
</portType>
<binding name="WebService1PortBinding" type="tns:WebService1">
<wsp:PolicyReference URI="#WebService1PortBinding_MTOM_Policy-WebService1PortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="appendToFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService1">
<port name="WebService1Port" binding="tns:WebService1PortBinding">
<soap:address location="http://localhost:8080/MyWebService/WebService1"/>
</port>
</service>
</definitions>