ClientServerModelExample/src/META-INF/wsdl/localhost_8080/MyWebService/WebService1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice1.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice1.me.org/">

<xs:element name="appendToFile" type="tns:appendToFile"/>

<xs:element name="appendToFileResponse" type="tns:appendToFileResponse"/>

<xs:element name="createFile" type="tns:createFile"/>

<xs:element name="createFileResponse" type="tns:createFileResponse"/>

<xs:element name="getFilePartition" type="tns:getFilePartition"/>

<xs:element name="getFilePartitionResponse" type="tns:getFilePartitionResponse"/>

<xs:element name="getFileSize" type="tns:getFileSize"/>

<xs:element name="getFileSizeResponse" type="tns:getFileSizeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFilePartition">
<xs:sequence>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
<xs:element name="start" type="xs:int"/>
<xs:element name="end" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFilePartitionResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFile">
<xs:sequence>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFileSize">
<xs:sequence>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFileSizeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appendToFile">
<xs:sequence>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
<xs:element name="bytes" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appendToFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>